# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Virtual Environment
venv/
.env

# FastAPI
.pytest_cache/
.coverage

# macOS
.DS_Store

# VS Code
.vscode/

# IntelliJ
.idea/

# Logs
*.log

# Node / Next.js
frontend/node_modules/
frontend/.next/
frontend/out/

# Environment files
frontend/.env.local
backend/.env

# Build files
dist/
build/

# Misc
*.swp